body {
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

#search-input {
    height: 45px;
    font-size: 18px;
    padding: 5px 15px;
}

#search-btn {
    font-size: 18px;
    height: 45px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 30px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

#show-more-button {
    font-size: 18px;
    padding: 10px 20px;
    display: none;
}